<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Boissonnot.Framework.Tests.UnitTester.Selenium.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Boissonnot.Framework.Tests.UnitTester.Selenium.Properties.Settings>
            <setting name="XML_PATH" serializeAs="String">
                <value />
            </setting>
        </Boissonnot.Framework.Tests.UnitTester.Selenium.Properties.Settings>
    </applicationSettings>
</configuration>